body {
	/*background-color: #eee;*/
background-color: #d9d9d9;
background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
	font-family: "Oxygen",sans-serif;
	color: white;
}
/*header*/
#header-nav{
background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
	padding-bottom: 0px;
	
}
.navbar-brand h1{
	color: white;
	font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #6e7f80;
  margin-top: 0px;
  margin-bottom: 5px;
}
.navbar-brand a:hover,.navbar-brand a:focus{
	text-decoration: none;
}
.navbar-toggler{
	padding: 0px;
}

.navbar-toggler-icon{
	background-color: transparent;
	border-radius: 5px;
	height: 26px;
}
@media(max-width: 991px){
	#nav-list li a{
		border-top: 1px solid white;
	}
}
@media(min-width: 990px){
	#nav-list li a:hover{
	background-color: #222;
	border-radius: 5px;
}
}
.navbar-toggler-icon:hover{
	background-color: #222;border-radius: 5px;
}
svg{
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: white;
	vertical-align: center;
}
#nav-list li a{
	text-align: center;
	color: white;
	margin: auto;
	margin-bottom: 0px;
	
}
#nav-list li a:hover{
	background-color: #222;
}

/*header end*/
/******************************/
/*main content*/
h2{
	color: black;
	text-align: center;
	padding-top: 20px;
	margin-top:50px;
	margin-bottom: 20px;
}
h4{
	text-align: center;
	padding: 10px;
background-color: #2f4353;
background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    border-radius:5px;

}
section{
	padding: 15px;
}
#S1,#S2,#S3{
background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
	padding-top: 0px;
	width: 90%;
	padding: 0px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	box-shadow: 10px 10px 10px #7f8c8d;
}
a,a:hover{
	color: white;
	
}
#S1 a,#S2 a,#S3 a{
	padding: 0px;
}

@media(max-width: 830px){
	#S1,#S2,#S3{
		height: 300px;
		overflow: auto;
	}
}
section::first-letter{
	font-size: 200%;
}

